@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}


<h2 class="title">BusInfo</h2>

@section scripts {
    <script>var javaPostCode = '@Model.PostCode.Replace(" ","+")';
    console.log(javaPostCode);</script>
    <script src="~/Scripts/slideshow.js"></script>
}
<div class="page-columns">
    <div class="column-left">
        @if (Model.ApiOutput.postCodeValid)
        {
            <h4>
                You entered postcode: <b>@Model.PostCode.ToUpper()</b>
            </h4>
        }
        else
        {
            <h4>Invalid Postcode</h4>
        }
    </div>
    <div class="column-right">
        <form id ="PostCodeForm">
            <input id="Postcode" name="Postcode" type="text"/>
            <input type="submit" value="Update Postcode">
        </form>
    </div>
</div>


<div class="page-columns" id="expandable">
    <div class="column-left">
        <div id="updateDiv">
            @if (Model.ApiOutput.postCodeValid)
            {
                foreach (var stop in Model.ApiOutput.StopAndBusList)
                {
                    <h3> @stop.StopName</h3>

                    <table class="timetable">
                        <tr>
                            <th width="100px">Bus Line</th>
                            <th>Destination</th>
                            <th class="rightAlign">Time to arrival</th>
                        </tr>
                        @foreach (var bus in stop.NextFive)
                        {
                            <tr>
                                <td width="50px">@bus.lineName</td>
                                <td>@bus.destinationName</td>
                                @{
                                    string arrivalText;
                                    var Time = bus.TimeToArrival();
                                    if (Time == 1)
                                    {
                                        arrivalText = Time.ToString() + " min";
                                    }
                                    else if (Time == 0)
                                    {
                                        arrivalText = "Due";
                                    }
                                    else
                                    {
                                        arrivalText = Time.ToString() + " mins";
                                    }
                                }
                                <td align="right">@arrivalText</td>
                            </tr>
                        }
                    </table>
                }

                <!--<p class="BigSpace"></p>-->
            }
            else
            {
                <a href="https://stockarch.com/images/business-and-industry/farming/stubble-agricultural-field-6782" target="_blank">
                    <abbr title="Stubble in an agricultural field-6782 by StockMedia CC BY 3.0">
                        <img src="Images/stubble_field.jpg" alt="Empty Field"/>
                    </abbr>
                </a>
            }
        </div>
    </div>
    <div class="column-right">
        <a id="imglink" href="https://en.wikipedia.org/wiki/Bus_bunching#/media/File:London_Bus_route_55_Buses,_Clapton_Pond.jpg" target="_blank">
            <abbr id="imgTitle" title="55 Buses, Clapton Pond by oxyman. CC BY-SA 2.0">
                <img id="slideshow" src="Images/bus.jpg" alt="This is a bus"/>
            </abbr>
        </a>
    </div>

</div>
    

   



